.itsMe {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 300;
}

.menuLeft {
    top: 0;
    left: 0;
    z-index: 11;
    padding-top: 50px;
    padding-bottom: 50px;
    position: fixed;
    height: 100dvh;
    width: 100px;
    background-color: #000000e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuRight {
    bottom: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    height: 100dvh;
    width: 100px;
    background-color: #000000e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.menuLeftUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100dvh;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.menuLeftUl div {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: white;
}

.romanNumber {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer;
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 11;
}

.romanNumber:hover {
    h2 {
        color: yellow !important;
    }

    svg {
        fill: yellow !important;
    }

    background-color: rgb(36, 36, 36);
    transition: all 0.3s;
}

.romanNumber:visited {
    text-decoration: none !important;
    color: inherit !important;
}

.romanNumber:focus {
    text-decoration: none !important;
    color: inherit !important;
}


.svgs {
    width: 60px;
    height: 40px;
    margin-right: -13px;
}

.userAndInfo {
    color: #a58f70;
    display: flex;
    gap: 10px;
    font-size: 25px;
}
.userAndInfo button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #a58f70;
        transition: all 0.3s;
        width: 30px;
        height: 30px;
        font-size: 25px;
        transition: all 0.3s;
}
.userAndInfo button:hover {
    transform: scale(1.15);
}




@media (max-width: 1150px) {
    .itsMe {
        bottom: 73px;
    }
    .menuLeft {
        padding: 0;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        width: 100vw;
        height: 70px;
        align-items: center;
        justify-content: space-around;
    }

    .menuRight {
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 0;

    }

    .menuLeftUl {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .userAndInfo button {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .romanNumber {
        transform: scale(0.85);
    }
}

.logo {
    width: 250px;
    transform: rotate(90deg);
}

@media (max-width: 1150px) {
    .logo {
        width: 200px;
        transform: rotate(0);
    }
}