.menuLeft {
    top: 0;
    left: 0;
    position: fixed;
    height: 100dvh;
    width: 100px;
    background-color: #323b48;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuLeftUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding-top: 20px;
    padding-bottom: 20px;

}

.menuLeftUl div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.svgs {
    width: 40px;
    height: 40px; 
}

.menuRight {
    top: 0;
    right: 0;
    position: fixed;
    height: 100dvh;
    width: 100px;
    background-color: #323b48;
}

.espelho {
    transform: scaleX(-1); /* Espelha horizontalmente a imagem */
    -webkit-transform: scaleX(-1); /* Para Safari */
  }