.menuLeft {
    bottom: 0;
    left: 0;
    z-index: 11;
    padding-top: 50px;
    position: fixed;
    height: 100dvh;
    width: 100px;
    background-color: #000000e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuRight {
    top: 0;
    right: 0;
    z-index: 11;
    position: fixed;
    height: 100dvh;
    width: 100px;
    background-color: #000000e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.menuLeftUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100dvh;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.menuLeftUl div {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: white;
}

.romanNumber {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer;
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.romanNumber:hover {
    h2 {
        color: yellow !important;
    }

    svg {
        fill: yellow !important;
    }

    background-color: rgb(36, 36, 36);
    transition: all 0.3s;
}

.romanNumber:visited {
    text-decoration: none !important;
    color: inherit !important;
}

.romanNumber:focus {
    text-decoration: none !important;
    color: inherit !important;
}


.svgs {
    width: 60px;
    height: 40px;
    margin-right: -13px;
}

.userAndInfo {
    color: white;
}


@media (max-width: 1150px) {
    .menuLeft {
        padding: 0;
        display: flex;
        flex-direction: row;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        align-items: center;
        justify-content: space-around;
    }

    .menuRight {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 0;
        
    }

    .menuLeftUl {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

    }
}

@media (max-width: 500px) {
    .romanNumber {
        transform: scale(0.85);
    }
}